@use '../layout/footer';

// Reset CSS
* {
    margin: 0; padding: 0;
    list-style-type: none;
    text-decoration: none;
}

// Global styling
body {
    background-color: #ccc;
    width: 100vw;
}
.boxed-layout {
    max-width: 80vw;
    margin: 0 auto;
    background-color: azure;
}