@use '../config/reset';
@use '../layout/footer';
@use '../layout/header';
@use '../layout/homepage.scss';

// Global styling
body {
    background-color: #ccc;
    width: 100vw;
}
.boxed-layout {
    position: relative;
    max-width: 75vw;
    margin: 0 auto;
}