@use '../layout/footer';
@use '../layout/header';
@use '../config/reset';

// Global styling
body {
    background-color: #ccc;
    width: 100vw;
}
.boxed-layout {
    max-width: 80vw;
    margin: 0 auto;
    background-color: azure;
}