<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/config/main.css">
</head>
<body>
    <header class="header">
        <nav>
            <ul class="nav__menu">
                <li>
                    <a class="nav__item" href="index.html">Home</a>
                </li>
                <li>
                    <a class="nav__item" href="../menu.html">Our Menu</a>
                </li>
                <li>
                    <img src="../assets/images/monet-coffee__logo-white.png" alt="">
                </li>
                <li>
                    <a class="nav__item" href="../contact.html">Contact Us</a>
                </li>
                <li>
                    <a class="nav__item" href="#">Order Online</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>