<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/config/main.css">
</head>
<body>
    <header class="header">
        <nav>
            <ul class="nav__menu">
                <div class="nav__container nav__container--left">
                    <li>
                        <a class="nav__item" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="nav__item" href="about-us.html">About Us</a>
                    </li>
                    <li>
                        <a class="nav__item" href="menu.html">Our Menu</a>
                    </li>
                </div>
                <li>
                    <img class="nav__logo" src="../assets/images/monet-coffee__logo.png" alt="Monet's Coffee Shop logo">
                </li>
                <div class="nav__container nav__container--right">
                    <li>
                        <a class="nav__item" href="claude-monet.html">Who is Monet?</a>
                    </li>
                    <li>
                        <a class="nav__item" href="contact.html">Contact Us</a>
                    </li>
                    <li>
                        <a class="nav__item" href="#">Order Online</a>
                    </li>
                </div>
            </ul>
        </nav>
    </header>
</body>
</html>