%transition {
    transition: all 0.2s ease;
}
.header {
    padding: 24px 48px;
    position: absolute;
    width: 100%;
}
.nav__menu {
    display: flex;
    justify-content: center;
}
.nav__container {
    width: 100%;
    margin: 64px 32px;
    display: flex;
    align-items: center;
    gap: 48px;
    border-color: #1F1D2D;
    border-style: double;
    border-width: 4px 0px 4px 0px;
}
.nav__container--left {
    padding-right: 32px;
    justify-content: flex-end;
}

.nav__container--right {
    padding-left: 32px;
    justify-content: flex-start;
}
.nav__logo {
        max-width: 192px;
}

.nav__item {
    color: white; //definir paleta
}